/* Fix user-agent */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
/*font-weight 100%は16px*/

* {
  box-sizing: border-box;
}

#defaultCanvas0{
  position: fixed;
  top: 0; 
}




html {
 
  -webkit-font-smoothing: antialiased;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

html, input {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  writing-mode: vertical-rl;
  /*font-family: Kyoukasho ICA Light;*/
  font-family: UDDigiKyokasho R;
}


ul {
  list-style: none;
  word-wrap: break-word;
}

li{
  list-style: none;
 
}

.ja_rtl {
 
  }


  .cursor {
    transition-timing-function: ease-out;
    background-color: red;
    border-radius: 5px;
    height: 10px;
    transition-duration: 500ms;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    width: 10px;
  }

  .BG-BLUE {
    background-color: #40b7ff;
  }

  .testDiv{
    width :300px;
    height:1400px;
    background-color:#ae45bb;
  }