
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


html, body {
   /*フォントのアンチエイリアス設定*/
   -webkit-font-smoothing: antialiased;/*Webkit用*/
   -moz-osx-font-smoothing: grayscale;/*Firefox用*/
 
  /*wrapperを画面一杯に表示したい場合，それにheight100%を指定するだけでなく，bodyに高さを持たせておく必要がある*/
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-family: Kyoukasho ICA Regular;*/
  font-size:16pt;
 font-family: UDDigiKyokasho R;
 /* font-family:  GJ Ryumin Regular KL;*/
}


.wrapper{
  max-width:1000px;
  margin: 0 auto;
  padding: 0 60px;
 
}

a,
a:visited {
    color: #fff;
    text-decoration: none;
}


#defaultCanvas0{
  position: fixed;
  top: 0; 
}


.block{/*文章が画面いっぱいに詰まりすぎないように*/
 /* padding:100px 0px;/*縦書きが言うこと聞かないことが多い*/
  word-wrap: break-word;

}
  /*縦書きセクション用*/
 .vertical .block {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;/*高さを真ん中にする*/
    /*justify-content: center;/*左右を真ん中にする*/
    justify-content: flex-end;/*左右を右寄せにする*/
    right:40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;/*これが０じゃなくなると崩壊する*/
    /*flex-direction: row-reverse;これ指定しても左によるだけだった*/
  /* text-align:center;*/
  text-align: left;
   /* background: #fff;*/
 /*縦書きにするのをこっちにかくとよくない*/
  }


  /*横書きセクション用*/
  .horizontal .block {
    width: 100%;
    height: 100vh;
   
  display: flex;
    align-items: center;/*高さを真ん中にする*/
   /* justify-content: center;/*左右を真ん中にする*/
    right:40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;/*これが０じゃなくなると崩壊する*/
  text-align:center; 
  }


  .vertical .block .sentence> p{
   display: inline-block;
   writing-mode: vertical-rl;/*縦書きにする*/
   /*writing-mode: tb-lr;/*IE用*/
    padding: 0 8px;
    margin: 0;
    max-height:80vh;
  }

  .horizontal .block .sentence> p{
    display: inline-block;
     padding: 0 8px;
     margin: 0;
     /*max-width:80vh; なくて十分だった*/
   }

  

  .sentence{
    word-wrap: break-word;
    /*padding:100px 0px;*/
  }



  .fadeIn {
    opacity: 1.0;
    transition: all 2s ease;
  }
  .fadeOut {
    opacity: 0;
    transition: all 0.1s ease;
  }

  /*年代ごとの文字サイズ調整*/
  .block-1{
    font-size:30pt;
  }

  .block-2{
    font-size:28pt;
  }

  .block-3{
    font-size:26pt;
  }

  .block-4{
    font-size:24pt;
  }

  .block-5{
    font-size:22pt;
  }

  .block-6{
    font-size:22pt;
  }

  .block-7{
    font-size:18pt;
  }

